wikipedia/fetching_code/node_modules/
wikipedia/fetching_code/.env
**/.DS_Store
.vscode/
data_cleansing/data/
data_cleansing/merged/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
frontend/node_modules/
src/roberta/roberta_bs_model/
src/xgboost/xgb_bs_model/
src/combine_output/combiner_model/
src/xgboost/xgb_ai_model/
src/roberta/roberta_ai_model/
trained_models/*

ai_detector_data/
data_cleansing/data/
human_bullshit/
human_notshit/
src/xgboost/Concreteness_ratings_Brysbaert_et_al_BRM.2.xlsx